<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
    {% block title %}
    {% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    

</head>
<body>
    
    

    <center>
    <header>
        <nav>
            <ul>
            
               <li><a href="{{ url_for("index") }}">Home</a></li>
               <li><a href="{{ url_for("add_input") }}">User Input</a></li>
               <li><a href="{{ url_for("find")}}">Search</a></li>
               <li><a href="{{ url_for("display_items") }}">History</a></li>
            </ul>
            </nav>  
        <h1 style="color: red">
        {% block header %}
        {% endblock %}
    </h1>
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    </center>

    <footer>
		<p>&copy; 2023 URL SHORTENER</p>
	</footer>

<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>

</html>