
{% extends 'layout.html' %}

{% block title %}
User Input
{% endblock %}

{% block header %}

Enter your lengthy url and get the shortened version



<form action="{{url_for('add_input')}}" method='post'>
    <input type="text" name="url_L" placeholder="Enter the url to shorten">
   
    <button>Shorten the url</button>

</form>


{% if short %}
    <p>
        <input type="text" placeholder="Shortened url" value="{{short}}" id="shortened-url">
        <button onclick="copyToClipboard()">Copy the url</button>
    </p>
{% endif %}

<script>
function copyToClipboard() {
    var copyText = document.getElementById("shortened-url");
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */
    document.execCommand("copy");
    alert("Copied the URL: " + copyText.value);
}
</script>

{% endblock %}
