{% extends 'layout.html' %}

{% block title %}
Search Page
{% endblock %}


{% block header %}
Enter Item you want to Search

<form method="POST" action="{{ url_for('find') }}">
    <input type="text" name="item" placeholder="Enter the url to search in the databse">
    <button>Search the url</button>
</form>

{% if item %}
    
        <input type="text" placeholder="Shortened url" value="{{item}}" id="shortened-url">
        <button onclick="copyToClipboard()">Copy the url</button>
   
{% endif %}


<script>
function copyToClipboard() {
    var copyText = document.getElementById("shortened-url");
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */
    document.execCommand("copy");
    alert("Copied the URL: " + copyText.value);
}
</script>


{% endblock %}